.flex {
    display: flex
}

.items-center {
    align-items: center
}

.flex-grow {
    flex-grow: 1
}

.ml-4 {
    margin-left: 1rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.text-center {
    text-align: center
}

.mt-0 {
    margin-top: 0
}

.mb-0 {
    margin-bottom: 0
}

.text-gray-300 {
    --tw-text-opacity: 1;
    color: rgba(209,213,219,var(--tw-text-opacity))
}
